

body{
  font-family: "Open Sans";
  font-size: 14px;
}




/** JUMBOTRON SECTION **/

.jumbotron-bike{
  background-image: url("../../Resources/Images/jumbotron-bike.jpg");
  color: white;
  text-shadow: 0, 0, 10px;
}

.jumbotron h1{
  font-family: "Monoton";
}

.jumbotron h1,
.jumbotron p{
    text-shadow: -1px -1px 0 #000,
                 -1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}

.btn{
  box-shadow: 0 0 0;
  transition: box-shadow 0.5s ease;
}

.btn:hover{
  box-shadow: 0 0 5px #000;
}

.btn:active{
  box-shadow: 0 0 0;
}
